:root{
    --color-principal: #EB5A2C;
}

/* ==========================================================
Formatear documento 
==============================================================*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

/* =============================================================
Barra de Navegacion
===========================================================*/

nav {
    position: absolute;
    z-index: 4;
    display:flex;
    background: black;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    margin-right: 1rem;
    text-decoration: none;
    font-weight: bold;
}

nav img{
    height: 5rem;
    margin-right: auto;
}

/* ===============================================================
Primer seccion del documento 
====================================================================*/

.principal{
    background-image: url("https://s1.eestatic.com/2016/11/15/cocinillas/cocinillas_170994703_116270236_1706x960.jpg");
    background-size: 100% 90vh;
    background-repeat:no-repeat;
    height:100vh;
    position: relative;
    color:white;
    padding:14rem;
}

.principal:before {
	content:'';
	position: absolute;
    top: 0;
    bottom: 9.7rem;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

.principal__informacion{
    position: absolute;
}


.principal__informacion h1{
    font-size: 7rem;
}

.principal__informacion p{
    width:60%;
    margin: 4rem 0;
}

.principal__informacion .button{
    padding: 2rem 4rem;
    background: none;
    border: none;
    color: white;
    margin-right: 4rem;
    font-weight: bold;
    cursor: pointer;
}

.principal__informacion .btn-principal{
    background: var(--color-principal);
}

.principal__informacion .btn-secundario{
    border: 1px solid white;
}

.principal__servicios{
    position: absolute;
    display:flex;
    width: 80%;
    bottom:5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content:space-around;
}

.principal__servicios--caja{
    width:25rem;
    height:25rem;    
    background: var(--color-principal);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.principal__servicios--caja img{
    width:10rem;
    height:10rem;  
    margin-bottom: 2rem;  
}

/* ==============================================================
Segunda seccion del documento 
===================================================================*/

.platilloPrincipal{
    display:flex;
    width: 80%;
    flex-flow: row wrap;
    margin: 0 auto;
}

.platilloPrincipal--descripcion {
    flex: 1 1 50%;
}

.platilloPrincipal--descripcion h3{
    font-size:6rem;
}

.platilloPrincipal--descripcion p{
    margin-top:3rem;
    font-size:2.5rem;
    font-weight:bold;
}

.platilloPrincipal--img {
    flex: 1 1 50%;
    display:flex;
}
.platilloPrincipal--img img{
    flex: 1 1;
    width: 1rem;
    object-fit: cover;
}

.platilloPrincipal--parrafo{
    flex: 0 1 80%;
    border: 1rem solid var(--color-principal);
    margin: 4rem auto;
    font-weight: bold;
    padding:2rem;
}

/* ==============================================================
 Tercera seccion del documento CARRUSEL de IMAGENES
 ==============================================================*/

.carrusel-img{
    display: flex;
    flex-flow: column wrap;
    height:80rem;
    width:80%;
    margin: 0 auto;
}

.img{
    object-fit: cover;
    width: 10rem;
    height: 100%;
    flex-grow: 1;
}

.carrusel-flex{
    display: flex;
    border: 1rem solid white;
}

.carrusel-img--1{
    flex: 1 1 20%;
}
.carrusel-img--2{
    flex: 1 1 60%;
}
.carrusel-img--3{
    flex: 1 1 100%;
}
.carrusel-img--4{
    flex: 1 1 30%;
}
.carrusel-img--5{
    flex: 1 1 30%;
}
.carrusel-img--6{
    flex: 1 1 30%;
}

/* =================================================================
Cuarta seccion del documento FORMULARIO 
===========================================================*/

.formulario{
    width: 80%;
    margin: 0 auto;
    height: 80rem;
    background: linear-gradient(to right, var(--color-principal), white);
    display:flex;
    flex-flow: column wrap;
}

.formulario--info{
    font-size: 6rem;
    flex: 1 1 100%;
    max-width: 50%;
    text-align: center;
    display:flex;
    align-items: center;
}

.formulario--form{
    flex: 1 1 100%;
    display:flex;
    justify-content:center;
    align-items: center;

}

 .formulario--form form{
    width: 30%;
    height: 30rem;
    border: 1px solid black;
} 